<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--画面サイズのモバイル対応-->
    < meta name="viewport" content="width=divice-width,initial-scale = 1.0" >
  </head>

  <body>
    <%= yield %>
  </body>

  <footer id = "footer_admin">
    <p>created by Takuma Kida</p>
  </footer>
</html>
